<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="cssConsole.console.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="cssConsole.min.js"></script>
    <title>Breadbox</title>
  </head>
  <body>
    <div class="container">
      <div class="console">
        <div class="line white">
          Welcome to Breadbox 1.0! Type 'help' for instructions, or simply start guessing!
        </div>
        <div class="line">
          &nbsp;
        </div>
      </div>
      <div class="bottom">
	<div class="label">></div>
	<div id="input"></div>
      </div>
    </div>
    <script>
      var lineLimit           = 28;
      var secret              = {{ secret | tojson | safe }};
      var secret_with_article = {{ secret_with_article | tojson | safe }};
      var definitions         = {{ definitions | tojson | safe }};
    </script>
    <script type="text/javascript" src="breadbox.js"></script>
    <footer class="white">
      Copyright &copy; 2016 Pepijn Kokke
    </footer>
  </body>
</html>
