<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="cssConsole.console.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="cssConsole.min.js"></script>
    <title>Breadbox</title>
  </head>
  <body>
    <div class="breadbox-container">
      <div class="breadbox-console">
        <div class="breadbox-line breadbox-white">
          Welcome to Breadbox 1.0! Type 'help' for instructions, or simply start guessing!
        </div>
        <div class="breadbox-line">
          &nbsp;
        </div>
      </div>
      <div class="breadbox-bottom">
	<div class="breadbox-label">></div>
	<div id="breadbox-input"></div>
      </div>
    </div>
    <script type="text/javascript">
      var lineLimit           = 26;
      var breadbox_url        = '/';
      var secret              = {{ secret | tojson | safe }};
      var secret_with_article = {{ secret_with_article | tojson | safe }};
      var definitions         = {{ definitions | tojson | safe }};
    </script>
    <script type="text/javascript" src="breadbox.js"></script>
    <footer class="breadbox-white">
      Copyright &copy; 2016
      <a class="breadbox-white" href="https://wenkokke.github.io/">Wen Kokke</a>
    </footer>
  </body>
</html>
